/**
 * main.css
 * The main styling behind the web site.
 *
 * Author: Nathan Campos <nathanpc@dreamintech.net>
 */

/* General layout */
body {
	font-family: Open Sans, Arial;
    font-size: 18px;
    font-weight: normal;

	color: #454545;
	/*background-color: #FEFEFE;*/
}

p, li, blockquote {
	line-height: 28px;
}

a {
	color: #454545;
	text-decoration: none;
	box-shadow: inset 0 -4px 0 rgb(255, 214, 95);
	transition: background-color 0.8s;
}

a:hover {
	background: rgb(255, 214, 95);
}

hr {
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
}

blockquote {
	border-left: 4px solid rgb(255, 214, 95);
	margin-left: 30px;
	padding-left: 10px;
}

.title-block {
	display: inline-block;
}

.title-block > h1 {
	margin-bottom: 0;
}

.title-block > h3 {
	margin-top: 5px;
	color: #777
}

header > nav {
	text-align: center;
}

header > nav > ul {
	display: inline-flex;
	margin: 0;
	padding: 0;

	list-style: none;
	text-align: center;
}

header > nav > ul > li {
	margin: 0 20px;
}

header, footer, .article-container {
	margin-left: 1em;
	margin-right: 1em;
}

.article-container {
	line-height: 26px;
}

article > h2 {
    margin-bottom: 3px;
}

article > nav {
	font-size: 16px;
}

article > .article-body {
	text-align: justify;
}

article > .article-body .image-container {
	width: 100%;
	text-align: center;
}

article > .article-body img {
	max-width: 100%;
}

article > .article-body ul li {
	color: #454545;
	list-style: none;
}

article > .article-body ul li::before {
	position: relative;
	top: 2px;
	margin-left: -15px;
	margin-right: 14px;

	font-family: serif;  /* Fixes a bug with emojis in Chrome for Android. */
	content: "\25AA\FE0E";

	font-size: 29px;
	line-height: 21px;

	color: rgb(255, 214, 95);
}

.pager {
	text-align: center;
}

.pager a {
	padding: 0 10px;
	margin: 0 5px;

	box-shadow: none;
	background: rgb(255, 214, 95);

	transition: color 0.8s;
}

.pager a:hover {
	color: white;
}

.pager a.current {
	color: white;
}

.pager a.current:hover {
	color: #454545;
}

footer > p {
	text-align: center;
}

/* Desktops */
@media (min-width: 992px) {
	header, footer, .article-container {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
	}

	.article-container > article {
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	article > .article-body img {
		max-width: 900px;
	}
}

/* Fix prism.js font. */
code[class*=language-], pre[class*=language-] {
	font-size: 16px;
	line-height: 1.3em;
}

